{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="container-fluid px-4 mt-4">

		{{form_start(formulaire)}}
		<div class="col-2">
			{{form_errors(formulaire.campus)}}
			{{form_errors(formulaire.startDate)}}
			{{form_errors(formulaire.endDate)}}
			{{form_errors(formulaire.eventOrganizer)}}
			{{form_errors(formulaire.eventRegister)}}
			{{form_errors(formulaire.eventNotRegister)}}
			{{form_errors(formulaire.pastEvent)}}
		</div>
		<fieldset>
			<legend>Rechercher dans la liste</legend>
			<div class="d-flex">
				<div class="col-6">
					<div class="form-group row">

						<label for="select" class="col-4 col-form-label">
							{{form_label(formulaire.campus)}}
						</label>
						<div class="col-6">
							{{form_widget(formulaire.campus)}}
						</div>
					</div>

					<div class="form-group row">
						<label for="startDate" class="col-4 col-form-label">
							{{form_label(formulaire.startDate)}}
						</label>
						<div class="col-8">
							{{form_widget(formulaire.startDate)}}
						</div>
					</div>

					<div class="form-group row">
						<label for="startDate" class="col-4 col-form-label">
							{{form_label(formulaire.endDate)}}
						</label>
						<div class="col-8">
							{{form_widget(formulaire.endDate)}}
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-4 control-label" for="searchinput">{{form_label(formulaire.search)}}</label>
						<div class="col-md-4">
							{{form_widget(formulaire.search)}}
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group row">
						<div class="col-8">
							<div class="custom-control custom-checkbox custom-control-inline">
								{{form_widget(formulaire.eventOrganizer)}}
								<label for="checkbox_1" class="custom-control-label">{{form_label(formulaire.eventOrganizer)}}</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								{{form_widget(formulaire.eventRegister)}}
								<label for="checkbox_1" class="custom-control-label">{{form_label(formulaire.eventRegister)}}</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								{{form_widget(formulaire.eventNotRegister)}}
								<label for="checkbox_1" class="custom-control-label">{{form_label(formulaire.eventNotRegister)}}</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								{{form_widget(formulaire.pastEvent)}}
								<label for="checkbox_1" class="custom-control-label">{{form_label(formulaire.pastEvent)}}</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="offset-4 col-8">
							<button name="submit" type="submit" class="btn btn-primary">Rechercher</button>
						</div>
					</div>
				</div>
			</div>

		</fieldset>
		{{form_end(formulaire)}}

		<div class="table-responsive mt-5">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Event</th>
						<th scope="col">Date</th>
						<th scope="col">End of register</th>
						<th scope="col">Participant/number of place</th>
						<th scope="col">State</th>
						<th scope="col">Register</th>
						<th scope="col">Organizer</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
						<tr>
							<td>{{event.name}}</td>
							<td>{{event.startDateTime | date('d-m-Y H:i:s') }}</td>
							<td>{{event.endRegisterDate | date('d-m-Y')}}</td>
							<td>{{ event.participants | length }}/{{event.nbParticipantMax}}</td>
							<td>{{event.state.label}}</td>
							<td></td>
							<td>{{event.organizer.pseudo}}</td>
							<td>
								<a href="{{ path('event_details',{id:event.id })}}" class="btn btn-warning">
									<i class="fa-solid fa-eye">View</i>
								</a>
								{% if event.state.id == 2  %}
									{% if app.user not in event.participants %}
										{% if event.organizer.pseudo != app.user.pseudo %}
										<a href="{{ path('event_register',{id:event.id })}}" class="btn btn-warning">
											<i class="fa-solid fa-plus">S'inscrire</i>
										</a>
										{% endif %}
									{% endif %}
								{% endif %}	
								{% if event.state.id == 2  %}	
									{% if app.user in event.participants %}
									<a href="{{ path('event_register',{id:event.id })}}" class="btn btn-warning">
											<i class="fa-solid fa-plus">Se désister</i>
									</a>
									{% endif %}
								{% endif %}	
								{% if event.state.id == 1 %}
									{% if event.organizer.pseudo == app.user.pseudo %}
									<a href="{{ path('event_update',{id:event.id })}}" class="btn btn-warning">
											<i class="fa-solid fa-plus">Modifier</i>
										</a>
									{% endif %}	
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
