{% extends 'base.html.twig' %}

{% block title %}Modification Sortie
{% endblock %}

{% block body %}

	<div class="container-fluid px-4 mt-4">
		<div class="col-12 my-3">

			{{form_start(formulaire)}}

			<div class="col-2">
				{{form_errors(formulaire.name)}}
				{{form_errors(formulaire.startDateTime)}}
				{{form_errors(formulaire.endRegisterDate)}}
				{{form_errors(formulaire.duration)}}
				{{form_errors(formulaire.nbParticipantMax)}}
				{{form_errors(formulaire.details)}}
			</div>
			<fieldset>
				<legend>Modifier une sortie</legend>

				<div class="d-flex">

					<div class="col-6">

						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.name)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.name)}}
							</div>
						</div>
						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.startDateTime)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.startDateTime)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.endRegisterDate)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.endRegisterDate)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.nbParticipantMax)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.nbParticipantMax)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.duration)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.duration)}}
							</div>
						</div>


						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.details)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.details)}}
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.campus)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.campus)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Ville
							</label>
							<div class="col-6">
								{{form_widget(formulaire.cityList)}}
							</div>

						</div>


						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.location)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.location)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Rue
							</label>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Code postal
							</label>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Latitude
							</label>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Longitude
							</label>
						</div>
					</div>
				</div>

			</fieldset>
			<div class="my-4">
				<button class="btn btn-primary" type="submit">Enregistrer la sortie
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</button>
				<button class="btn btn-success" type="submit">Publier la sortie
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</button>
				<button>
					<a href="{{ path('event_delete',{'id':app.request.get('id')})}}" class="btn btn-danger">Supprimer la sortie
					</a>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</button>
				<a href="{{ path('home')}}" class="btn btn-warning">
					Annuler
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</a>
			</div>

			{{form_end(formulaire)}}
		</div>
	</div>
	{# <div class="col-3 my-3">
																																																																																												
																																																																																														<div class="position-relative">
																																																																																															<div class="position-absolute top-50 start-50 translate-middle-x">
																																																																																												
																																																																																																{{ form_start (formulaire)}}
																																																			
																																																			
																																																										{{ form_widget (formulaire)}}
																																																			
																																																										<div class="my-4">
																																																											<button class="btn btn-primary" type="submit">Enregistrer
																																																												<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
																																																			
																																																			
																																																											</button>
																																																											<a href="{{ path('home')}}" class="btn btn-warning">
																																																												Annuler
																																																												<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
																																																											</a>
																																																										</div>
																																																			
																																																										{{ form_end (formulaire)}}
																																																									</div>
																																																								</div>
																																																							</div>
																																																							#}
{% endblock %}
