{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

<p>Prénom :</p>{{ participant.firstName }}
<p>Nom :</p>{{ participant.lastName }}
<p>Téléphone :</p>{{ participant.phone }}
<p>Email :</p>{{ participant.email }}
<p>Campus :</p>{{ participant.campus.name }}

{% endblock %}
