{% extends 'base.html.twig' %}
{% form_theme formulaire 'bootstrap_5_horizontal_layout.html.twig'%}
{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div id="profil"></div>
<div class="container my-4">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Mon profil</h2>
    </div>
{# <div class="d-flex"> #}
    <div class= 'row'>
        <div class='col-4'>
            {% if app.user.imgName == null %}
            {% else %}
                <img class="logo" src="{{ asset('upload/')}}{{app.user.imgName}}" >
            {% endif %}
        </div>
        <div class="col-8 col-sm-8">
            {{ form_start (formulaire)}}
            {{ form_widget (formulaire)}}
            {# <div class="col-6 my-4">
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.pseudo) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.pseudo) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.firstName) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.firstName) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.lastName) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.lastName) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.phone) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.phone) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.email) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.email) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 my-2 ">
                        {{ form_row (formulaire.password) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.campus) }}
                    </label>
                    <div class="col-6 my-2">
                        {{ form_widget (formulaire.campus) }}
                    </div>
                </div>
                <div class="form-group row">
                     <label class="col-4 my-2 col-fom-label">
                        {{ form_label (formulaire.image) }}
                    </label>
                     <div class="col-6 my-2">
                        {{ form_widget (formulaire.image) }}
                     </div>
                </div> #}
                    <div class="my-4">
                        <button class="btn btn-primary" type="submit">Enregistrer
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span></button> 
                        <a href="{{ path('app_view_participant',{id:app.user.id})}}" class="btn btn-warning"> Annuler 
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span></a>
                    </div>
                    {{ form_end (formulaire)}}
            </div>
        </div>
    {# </div>  #}
</div>
{% endblock %}


